$sizes: (
  'xs': 360px,
  'sm': 768px,
  'md': 1024px,
  'lg': 1200px,
  'xl': 1440px,
);

$size-xs: 360px;
$size-sm: 768px;
$size-md: 1024px;
$size-lg: 1280px;
$size-xl: 1440px;

@mixin media($minmax, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (#{$minmax}-width: $resolution) {
        @content;
      }
    }
  }
}

@mixin xl {
  @media (max-width: $size-xl) {
    @content;
  }
}
@mixin min-xl {
  @media (min-width: #{$size-xl + 1}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $size-lg) {
    @content;
  }
}
@mixin min-lg {
  @media (min-width: #{$size-lg + 1}) {
    @content;
  }
}

@mixin md {
  @media (max-width: $size-md) {
    @content;
  }
}
@mixin min-md {
  @media (min-width: #{$size-md + 1}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: $size-sm) {
    @content;
  }
}
@mixin min-sm {
  @media (min-width: #{$size-sm + 1}) {
    @content;
  }
}

@mixin xs {
  @media (max-width: $size-xs) {
    @content;
  }
}
@mixin min-xs {
  @media (min-width: #{$size-xs + 1}) {
    @content;
  }
}

@mixin text-main {
  font-weight: normal;
  font-size: 20px;
  line-height: 130%
}

@mixin text-small {
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
}

@mixin text-medium {
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
}

@mixin text-micro {
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
}

@mixin header-2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
}

@mixin header-3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}