body {
  @include fontcommon;
  font-size: 12px;
  line-height: 1.2;
  background: linear-gradient(136deg, #7104ce 0%, #336fcd 100%);
  background-color: #336fcd;
}

h1,
h2,
h3,
h4 {
  @include fontcommon;
  font-weight: 500;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row-full {
  margin-left: -24px;
  margin-right: -24px;

  @include md {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.container {
  max-width: 1440px;
  padding: 0 24px;
  margin: 0 auto;

  @include lg {
    padding: 0 16px;
  }
}

.header {
  height: var(--header-height);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  &__line {
    display: flex;
    justify-content: space-between;

    padding: 20px 0;

    @include lg {
      align-items: center;
    }
  }

  &__menu {
    @include md {
      display: none;
    }
  }

  &__btns {
    .btn {
      @include lg {
        font-size: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
      }

      @include md {
        display: none;
      }
    }
  }
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  border: 0;
  background: #1a4f9f;
  gap: 4px;

  @include min-md {
    display: none;
  }

  span {
    display: block;
    height: 2px;
    width: 22px;
    background-color: var(--color-white);
  }
}

.momenu {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1;
  display: none;
  flex-direction: column;
  max-width: 360px;
  background-color: var(--c06);
  padding: 10px 16px;
  border-top-left-radius: var(--radius-default);
  border-bottom-left-radius: var(--radius-default);

  &.active {
    display: flex;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    max-width: 200px;

    img {
      width: 100%;
    }
  }

  &__close {
    width: 48px;
    height: 48px;
    display: block;
    border: 0;
    background: url($img + 'btn-close-black.svg') no-repeat center / 100%;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 16px;
  }

  &__footer {
  }

  &__subfooter {
    padding-top: 10px;
    font-size: 12px;
    line-height: 130%;
    color: var(--b2);
  }

  .menublock {
    flex-direction: column;
    padding: 16px 0;
    gap: 24px;
    background: transparent;

    &__item {
      font-size: 28px;
      line-height: 110%;
    }
  }
}

.contactgroup {
  display: flex;
  align-items: center;

  .btn {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 20px;
    backdrop-filter: blur(24px);
    background: rgba(61, 61, 61, 0.35);
    color: var(--color-white);
  }

  .btn-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    color: var(--color-black);
  }

  .btn-free {
    margin-left: -10px;
  }
}

.logo {
  display: inline-block;
}

.logoblock {
  @include min-lg {
    padding-top: 10px;
  }

  @include sm {
    max-width: 95px;
  }
}

.menublock {
  display: flex;
  gap: 36px;
  padding: 16px 20px;
  border-radius: var(--radius-lg);

  backdrop-filter: blur(24px);
  background: rgba(26, 79, 159, 0.35);

  @include lg {
    gap: 16px;
  }

  @include lg {
    padding: 8px 16px;
  }

  &__item {
    color: var(--color-white);
    text-decoration: none;
    @include button;

    @include lg {
      font-size: 14px;
    }

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.section1 {
  background: url($img + 'section1.png') no-repeat center;
}

.btn {
  @include button;
  border-radius: var(--radius-lg);
  padding: 16px 20px;
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  text-align: center;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.btn-tf {
  display: flex;
  align-items: center;
  gap: 16px;
  background: transparent;
  color: var(--color-white);
  padding: 0;
  font-size: 20px;

  &::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 10px;
    background: url($img + 'arrow-white.svg') no-repeat center / 100%;
    transform: rotate(-90deg);
    font-size: 20px;
  }
}

.btn-primary {
  background: var(--c04);
  border-color: var(--c04);
  color: var(--color-white);
  backdrop-filter: blur(24px);
}

.btn-success {
  border-radius: var(--radius-lg);
  backdrop-filter: blur(24px);
  background: var(--btn-success-color);
  color: white;
  @include fontcommon;
}

.btn-cell,
.btn-telegram,
.btn-whatsapp {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border: 0;
  transition: all 0.3s ease;

  &:hover {
    background-color: white;
    opacity: 0.8;
  }
}

.btn-cell {
  background-image: url($img + 'cell.svg');
}

.btn-telegram {
  background-image: url($img + 'telegram.svg');
  background-color: white;
  background-size: 105% 105%;
  border: 0;
}

.btn-whatsapp {
  background-image: url($img + 'whatsapp.svg');
}

.btn-black {
  border-radius: var(--radius-lg);
  backdrop-filter: blur(24px);
  background: rgb(62 62 62 / 50%);
  color: var(--color-white);
}

.btn-outline-black {
  background-color: transparent;
  border: 1px solid #6b7e94;
  color: #6b7e94;
  padding: 12px 24px;
  border-radius: 24px;
  @include fontcommon;

  @include md {
    padding: 8px 16px;
    font-size: 16px;
  }
}

.btn-outline-secondary {
  font-size: 32px;
  line-height: 1;
  color: var(--color-white);
  padding: 23px 32px 23px 32px;
  border: 1px solid var(--b4);
  color: var(--b4);
  border-radius: var(--radius-lg);
  text-align: center;
}

.btn-lg {
  padding: 19px 27px;
  font-size: 24px;

  @include md {
    font-size: 14px;
    line-height: 1;
    padding: 13px 16px;
  }
}

.btn-small {
  padding: 19px 27px;
  font-size: 24px;
}

.btn-small2 {
  padding: 14px 22px;
  font-size: 20px;
  font-weight: bold;
}

.baner {
  padding-top: var(--header-height);
  padding-bottom: 34px;
  padding-top: var(--header-height);
  background: url($img + '/section1.png') no-repeat center top;
  color: var(--color-white);

  &__head {
    margin: 0;
    font-size: 58px;
    line-height: 1.13;
    max-width: 989px;
    margin: 0 auto;
    text-align: center;
    margin-top: 42px;
    color: var(--color-white);
    margin-bottom: 308px;

    @include md {
      font-size: 32px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .btn {
    text-align: center;
    padding: 22px 36px 26px 36px;
    font-size: 45px;
    line-height: 1;
    color: var(--color-white);

    @include md {
      height: 55px;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 24px;
    }
  }
}

.logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 590px;
  padding-bottom: 51.8px;

  &__text {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 8px;
    margin-top: 48px;

    @include md {
      font-size: 14px;
    }
  }

  img {
    display: block;
    width: 100%;
  }
}

.text-blue {
  color: var(--color-blue);
}

.text-white {
  color: var(--color-white);
}

.btn-gradient {
  border-radius: var(--radius-lg);
  backdrop-filter: blur(24px);
  background: linear-gradient(
    134.1deg,
    rgba(0, 198, 204, 0.65) 2.502%,
    rgba(115, 0, 205, 0.65) 99.871%
  );
  color: var(--color-white);
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
  display: block;
}

.slogan {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
  padding: 24px;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.2);

  @include md {
    grid-template-columns: 1fr 1fr;
    border-radius: var(--radius-default);
    padding: 16px;
    gap: 16px;
  }

  @include sm {
    grid-template-columns: 1fr;
  }

  &__item {
    position: relative;
    padding: 24px 0px 24px 50px;
    border: 1px solid rgb(84, 72, 173);
    border-radius: 24px;
    backdrop-filter: blur(24px);
    color: var(--color-white);
    font-size: 24px;
    line-height: 1.2;
    text-align: left;
    width: 100%;

    @include md {
      font-size: 20px;
      line-height: 120%;
    }
  }

  &__arrow {
    position: absolute;
    right: 24px;
    bottom: 24px;
    background: url($img + 'arrow.svg') no-repeat center;
    width: 32px;
    height: 32px;
  }

  &__count {
    position: absolute;
    top: 29px;
    left: 16px;
    color: white;
    opacity: 0.2;
    font-size: 14px;
  }
}

.section2 {
  padding-top: 45px;
  padding-bottom: 22px;
  border-radius: 48px;
  background-color: var(--color-black);
  color: var(--color-white);

  @include md {
    border-radius: var(--radius-default);
  }

  .container {
    background: url($img + 'rocket-dooglys.png') no-repeat 106px 337px;
    background-size: 500px;

    @include sm {
      background-size: 360px;
      background-position: top right;
    }
  }

  .row {
    margin-bottom: 25px;
  }
}

.se {
  display: flex;
  gap: 42px;

  @include sm {
    flex-direction: column;
  }

  &__top {
    margin-bottom: 187px;
  }

  &__left {
    padding: 18px 0 0 0;
    min-width: 428px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include md {
      padding: 0;
      min-width: 40%;
    }
  }

  &__right {
    .row {
      @include md {
        flex-direction: column;
      }
    }
  }

  &__title {
    font-size: 44px;
    margin-bottom: 22px;
    line-height: 110%;

    @include md {
      font-size: 28px;
      margin-bottom: 16px;
    }
  }

  &__text {
    padding-right: 10px;
    font-size: 20px;
    line-height: 130%;
    color: #93a8c0;

    @include md {
      font-size: 16px;
    }
  }

  &__bottom {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 22px;
  }

  .row {
    gap: 24px;

    @include md {
      gap: 16px;
      margin-bottom: 16px;
    }
  }

  .col {
    width: 100%;
  }
}

.pi {
  padding: 28px;
  border-radius: 24px;
  min-height: 395px;

  @include md {
    min-height: 328px;
  }

  @include sm {
    padding: 16px;
    border-radius: 16px;
  }

  &--smart {
    position: relative;
    background: #25313f;
    overflow: hidden;

    &::before {
      position: absolute;
      right: -16px;
      bottom: -86px;
      content: '';
      display: block;
      width: 230px;
      height: 338px;
      background-size: 100%;
      background-image: url($img + 'smart.png');
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #4b5a6c;

    .pi__head {
      font-size: 29px;
      line-height: 120%;

      @include md {
        font-size: 24px;
      }
    }

    .pi__text {
      color: #c9d5e3;
      padding-top: 24px;

      @include md {
        padding-top: 10px;
      }
    }

    .pi__footer {
      height: 45px;
      background: url($img + 'btns-picture.png') no-repeat center;
      background-size: 100%;

      @include md {
        margin-left: 0;
        height: 40px;
        background-position-x: left;
      }
    }
  }

  &--full {
    position: relative;
    overflow: hidden;
    background-color: #1d242e;
    height: 257px;
    min-height: 0;

    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 340px;
      height: 233px;
      background: url($img + 'Samsung_Tab.png') no-repeat center;
      background-size: 100% 100%;
      right: -12px;
      top: 42px;
      transform: rotate(12deg);
    }

    .pi__text {
      padding-top: 27px;
    }
  }

  &--update {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 458px;
    background-color: #6b7e94;

    &::after {
      content: '';
      position: absolute;
      background: url($img + 'updating-bg.png') no-repeat center;
      background-size: 100% 100%;
      width: 240px;
      height: 240px;
      display: block;
      right: 0;
      bottom: -6px;
    }

    .pi__text {
      color: #c9d5e3;
    }
  }

  &--support {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2f3c4c;
    min-height: 458px;
    overflow: hidden;

    @include md {
      min-height: 328px;
    }

    .pi__head {
      font-size: 26px;

      @include md {
        font-size: 28px;
      }
    }

    .pi__text {
      color: #93a8c0;
    }

    .pi__footer {
      display: flex;
      justify-content: space-between;
    }
  }

  &__head {
    @include title;
  }

  &__text {
    color: var(--text-gray);
    @include text;
    padding-top: 27px;

    @include sm {
      padding-top: 10px;
    }
  }

  &__socials {
    display: flex;
    gap: 8px;
  }
}

.btn-mobile-group {
  display: block;
  max-width: 200px;
  padding-top: 24px;
  padding-bottom: 10px;

  @include min-md {
    display: none;
  }

  .btn {
    margin-bottom: 8px;
  }
}

.btn-circle {
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 100%;

  @include md {
    width: 36px;
    height: 36px;
  }
}

.section3 {
  padding-top: 92px;
  padding-bottom: 97px;

  .row {
    gap: 69px;
  }
}

.row3 {
  padding-bottom: 35px;
  background:
    url($img + 't.svg') no-repeat 912px -55px/175px 195px,
    url($img + 'vtb.svg') no-repeat 568px 108px/118px 105px,
    url($img + 'yu.svg') no-repeat 1002px 122px/160px 110px,
    url($img + 'pc.png') no-repeat 1080px 289px/210px 230px,
    url($img + 'support.png') no-repeat 37% 87%/300px 310px,
    url($img + 'comment.png') no-repeat 69.5% 96.3%/112px 111px;

  &__left,
  &__right {
    width: 100%;
  }

  &__left {
    max-width: 566px;
  }
}

.sectionhead,
.sectionHead {
  @include fontcommon;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  color: var(--color-white);
  padding-bottom: 48px;

  @include md {
    font-size: 38px;
    line-height: 100%;
    font-weight: 500;
    padding-bottom: 53px;
  }
}

.translucent {
  padding: 58px 24px 24px 24px;
  font-size: 24px;
  @include fontcommon;
  color: var(--color-white);
  border-radius: var(--radius-default);
  backdrop-filter: blur(24px);
  margin-top: 44px;
  background: rgba(123, 128, 229, 0.2);
}

.dnblock {
  color: var(--color-text);
  padding: 24px;
  background-color: var(--color-white);
  border-radius: var(--radius-default);

  &__head {
    @include fontcommon;
    font-size: 48px;
    line-height: 1;
  }

  &__subtitle {
    @include fontcommon;
    font-size: 24px;
    line-height: 1.2;
    margin-top: 52px;
  }

  &__list {
    display: grid;
    margin-top: 28px;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    line-height: 130%;
    padding-bottom: 16px;
    color: var(--text-darkgray);
  }

  &__item {
    padding-left: 10px;
    position: relative;
    &::after {
      content: '';
      display: block;
      border-radius: 32px;
      width: 4px;
      top: 10px;
      left: 0;
      height: 4px;
      position: absolute;
      background: rgb(75, 90, 108);
    }
  }
}

.opblock {
  margin-bottom: 72px;

  &--2 {
    max-width: 450px;
  }

  &__head {
    @include fontcommon;
    font-size: 24px;
    font-weight: normal;
    color: #f0f5f9;
  }

  &__list {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.fz {
  font-size: 20px;
  position: absolute;
  top: -68px;
  right: -44px;
  padding: 12px 14px;
}

.weofferblock {
  padding: 35px 23px 28px 23px;
  border-radius: var(--radius-lg);
  background: var(--c05);

  &__subhead {
    @include fontcommon;
    font-size: 32px;
    line-height: 110%;
    color: var(--color-white);
    font-weight: normal;
    margin: 0px 0 24px 0;
  }

  &__text {
    color: var(--b2);
    line-height: 130%;
    font-size: 20px;
  }

  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 38px;
  }

  &__pictureBlock {
    display: block;
    min-width: 776px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
  }

  &__slide1 {
    margin-bottom: -74px;
  }

  &__dots {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding-right: 24px;

    div {
      width: 8px;
      height: 8px;
      background-color: var(--c04);
      border-radius: 100%;
      display: block;
      transition: all 0.3s;

      &.active {
        width: 20px;
        height: 20px;
        background-color: var(--color-white);
      }
    }
  }

  .row {
    gap: 73px;
    align-items: self-end;
  }

  .col {
    width: 100%;
    position: relative;
  }

  .btn {
    &.active {
      background: var(--color-white);
      border-color: var(--color-white);
      color: var(--c05);
    }
  }
}

.clientsblock {
  padding: 100px 0 0 0;

  &__badge {
    padding: 20px;
    text-align: left;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-white);
    width: 212px;
    max-width: 100%;
    border: 1px solid var(--c03);
    border-radius: var(--radius-default);
    margin-top: 15px;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-top: 22px;
    gap: 30px;
  }

  .sectionHead {
    padding-bottom: 0;
  }

  .row {
    gap: 24px;
  }
}

.section4 {
  background-color: var(--color-white);
  border-radius: var(--radius-lg);
  color: var(--color-black);
  padding: 82px 0 65px 0;

  .sectionHead {
    color: var(--color-black);
    padding-bottom: 0;
  }
}

.section5 {
  padding-top: 91px;
  padding-bottom: 35px;
}

.saas {
  &__subtitle {
    font-size: 32px;
    line-height: 110%;
    padding-top: 20px;
  }

  &__row1 {
    color: var(--b5);
    gap: 24px;
    margin-right: -24px;
  }

  &__text {
    font-size: 20px;
    line-height: 125%;
    padding-top: 30px;
  }

  &__picture {
    display: block;
    min-width: 280px;
    max-width: 100%;
  }
}

.saasinfo {
  background-color: var(--b1);
  font-size: 20px;
  line-height: 130%;
  border-radius: var(--radius-default);
  margin-left: -24px;
  margin-right: -24px;
  margin-top: 100px;

  &--second {
    margin-top: 50px;

    .saasinfo {
      &__left {
        padding: 24px;
      }

      &__text {
        gap: 24px;
        column-count: 2;
      }

      &__center {
        padding: 24px;
        .btn {
          white-space: nowrap;
        }
      }
    }
  }

  &__head {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 24px;
  }

  &__text {
  }

  &__content {
    padding: 24px;
    max-width: 588px;
  }

  &__footer {
    padding: 0 24px 24px 24px;
    display: flex;
    justify-content: flex-end;
    margin-top: -6px;
  }

  &__left {
    width: 100%;
  }

  &__right {
    min-width: 472px;
    max-width: 100%;

    img {
      width: 100%;
      overflow: hidden;
      border-radius: var(--radius-default);
    }
  }
}

.auto {
  margin: 0 -24px;
  padding-top: 56px;
  gap: 24px;

  &__list {
    display: flex;
    gap: 24px;
  }

  &__picture {
    min-width: 236px;
    max-width: 100%;
  }

  &__head {
    font-size: 48px;
    line-height: 100%;
    color: var(--b7);
    margin-bottom: 24px;
  }

  &__text {
    color: var(--b6);
    font-size: 20px;
    line-height: 130%;
    width: 80%;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}

.int {
  padding: 38px 24px 24px 24px;
  border-radius: var(--radius-default);
  width: 50%;
  position: relative;
  overflow: hidden;

  &__row {
    margin-left: -24px;
    margin-right: -24px;
    margin-top: 24px;
    gap: 24px;
  }

  &--lightblue {
    background: #e6eef6 url($img + 'academy.png') no-repeat right bottom / 100%;

    .int {
      &__footer {
        display: flex;
        width: 100%;
        gap: 8px;
        margin-left: 8px;
        margin-top: 83px;

        .btn {
          white-space: nowrap;
        }
      }
    }
  }

  &--blue {
    background-color: #c5dbfc;

    &::before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 314px;
      height: 158px;
      background: url($img + 'logo-company.png') no-repeat center;
      background-size: 100% 100%;
    }
  }

  &__head {
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 24px;
    color: var(--b9);
  }

  &__text {
    font-size: 20px;
    line-height: 130%;
    color: var(--b6);
    padding-bottom: 16px;
  }

  &__footer {
    font-size: 16px;
    font-weight: bold;
    line-height: 130%;
    width: 310px;
    margin-top: 25px;
  }
}

.tarif {
  font-size: 20px;
  color: var(--b1);
  line-height: 130%;

  &__head {
    font-weight: 600;
  }

  &__left,
  &__right {
    width: 50%;
  }

  &__left {
    position: relative;
  }

  &__right {
    padding-top: 20px;
  }

  &__picture {
    position: absolute;
    right: 210px;
    top: 107px;
  }

  &__text {
    padding-bottom: 40px;
  }

  .row {
    gap: 24px;
  }
}

.tf {
  padding-top: 158px;

  &__footer {
    padding: 26px 0;
  }

  &__list {
    padding-top: 83px;
    display: flex;
    gap: 7px;
  }
}

.tcard {
  display: flex;
  flex-direction: column;
  padding: 18px 16px 32px 16px;
  background: var(--b1);
  border-radius: var(--radius-default);
  color: var(--b7);
  width: 226px;

  &--popular {
    position: relative;
    background-color: #8eceff;

    .tcard {
      &__pop {
        position: absolute;
        padding: 17px 16px 15px 16px;
        color: var(--color-white);
        background: #4c20c7;
        border-radius: var(--radius-default);
        left: 0;
        right: 0;
        top: -52px;
        height: 135px;
        z-index: -1;
        font-size: 18px;
        font-weight: normal;
      }

      &__plus {
        background-image: url($img + 'plus-white.svg');
      }
    }
  }

  &--black {
    align-self: flex-start;
    position: relative;
    background: var(--color-black);
    color: var(--color-white);
    padding-bottom: 42px;

    .tcard {
      &__price {
        color: var(--color-white);
      }

      &__name {
        color: var(--b5);
      }

      &__startline {
        font-size: 18px;
        color: var(--b3);
        line-height: 110%;
      }

      &__btnline {
        .btn {
          color: var(--color-white);
          border-color: var(--b1);
        }
      }
    }
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    color: var(--b5);
  }

  &__price {
    font-size: 48px;
    color: var(--b8);
    font-weight: 500;
    line-height: 110%;
  }

  &__btnline {
    padding-top: 10px;
    padding-bottom: 48px;
  }

  &__list {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: var(--b7);
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__start {
    margin-bottom: 3px;
    color: var(--b3);
  }

  &__plus {
    margin: 16px 0;
    width: 32px;
    height: 32px;
    display: block;
    background: url($img + 'plus-blue.svg') no-repeat center / 100%;
  }

  &__startline {
    line-height: 1;
  }

  .btn {
    padding: 0 20px;
    height: 48px;
    font-size: 22px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--b8);
    border-color: var(--b2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.tdop {
  position: absolute;
  top: -150px;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;

  &__name {
    border-radius: var(--radius-default);
    border: 1px solid var(--b3);
    padding: 16px 16px 8px 16px;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: var(--radius-default);
    border: 1px solid var(--b3);
    padding: 16px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    line-height: 1;
    height: 70px;
    padding-top: 32px;
    margin-top: -22px;
    border-top: 0;

    &::after {
      content: '';
      width: 16px;
      height: 7px;
      display: block;
      background: url($img + 'arrow-white.svg') no-repeat center / 100%;
    }
  }
}

.th {
  display: flex;
  &__left {
    display: flex;
    gap: 26px;
    align-items: center;
  }
  &__head {
    display: inline-block;
    padding-bottom: 0;
  }
}

.tg {
  display: flex;
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  text-transform: lowercase;
  background-color: var(--color-white);
  color: var(--b8);
  border-radius: 32px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 48px;
    border-radius: 32px;

    &.active {
      color: var(--color-white);
      background-color: var(--b8);
    }
  }
}

.footer {
  color: var(--footer-color);
  background-color: var(--color-black);
  padding: 25px 0 38px 0;
  font-size: 12px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;

  &__menu {
    width: 52%;
  }

  &__line {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }

  &__logoblock {
    display: flex;
    flex-direction: column;
    gap: 77px;
  }

  .logo {
    width: 100%;
    max-width: 179px;
    height: 54px;
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }

  &__info {
    margin-top: 8px;
  }

  &__right {
    padding-right: 0px;
  }

  &__btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .btn {
    @include fontcommon;
    font-size: 16px;
    font-weight: normal;
    padding: 0 20px;
    border-radius: 48px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-phone {
      color: var(--color-black);
      background-color: var(--color-white);
      margin-bottom: 15px;
    }

    &-free {
      backdrop-filter: blur(24px);
      background: rgba(61, 61, 61, 0.35);
      color: var(--color-white);
      margin-left: -20px;
    }
  }
}

.fmenu {
  display: flex;
  gap: 16.5px;

  &__item {
    font-size: 16px;
    color: var(--color-white);
    padding: 18px 0;
    text-decoration: none;
    font-family: $fontFamily;

    &:hover {
      opacity: 0.8;
    }
  }
}

.footerinfo {
  display: flex;
  gap: 42px;
  align-items: flex-end;
}
