<!DOCTYPE html>
<html lang="ru">

<head>
  @@include("./template/head.html")
  <title>Guideline</title>
</head>

<body class="page page--text">
  <div class="container-layout">
    @@include("./template/header.html")
    <div class="wrapper">
      <div class="container">
        <h1 class="page-header">
          Guideline
          <span class="date">1 июня 2024</span>
        </h1>

        <div class="blogContainer">
          <div class="blogContainer__content">
            <div class="text-block">
              <ul>
                <li>
                  <a href="./index.html">Главная</a>
                </li>
                <li>
                  <a href="./about.html">О компании</a>
                </li>
                <li>
                  <a href="./news.html">Блог</a>
                </li>
                <li>
                  <a href="./page.html">Текстовая страница</a>
                </li>
                <li>
                  <a href="./tarifs.html">Тарифы</a>
                </li>
              </ul>
              <h2>Модальники</h2>
              <ul>
                <li>
                  <a href="#reg-modal" rel="modal:open">Регистрация</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    @@include("./template/footer.html")
  </div>
  @@include("./template/scripts.html")
  <script>
    $('#reg-modal').modal();
  </script>
</body>

</html>