<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <title>Starter</title>
  @@include("./template/head.html")
</head>

<body>
  @@include("./template/header.html")
  <div class="baner">
    <div class="container">
      <h2 class="baner__head">
        Инструмент для автоматизации <br /> бизнеса: <span class="text-blue">управление заказами</span>, <span
          class="text-blue">складом</span>,
        <span class="text-blue">персоналом</span>
      </h2>

      <a href="#" class="btn btn-gradient">Попробовать бесплатно</a>
      <div class="logo-block">
        <span class="logo-block__text">Система <br /> автоматизации бизнеса</span>
        <img src="./images/logo-colorfull.svg" alt="Dooglys">
      </div>

      <div class="slogan">
        <div class="slogan__item">
          <div class="slogan__count">.01</div>
          Примет заказ на <br>
          кассе или через
          <br>
          мобильный
          <br>
          телефон клиента
          <div class="slogan__arrow"></div>
        </div>
        <div class="slogan__item">
          <div class="slogan__count">.02</div>
          Распределит
          <br>
          приготовление
          <br>
          блюд между
          <br>
          поварами
          <div class="slogan__arrow"></div>
        </div>
        <div class="slogan__item">
          <div class="slogan__count">.03</div>
          Поставит задачи
          <br>
          службе доставки
          <br>
          и колл-центру
          <div class="slogan__arrow"></div>
        </div>

        <div class="slogan__item">
          <div class="slogan__count">.04</div>
          Обеспечит
          <br>
          координацию
          <br>
          и контроль работы
          <br>
          персонала
          <div class="slogan__arrow"></div>
        </div>
      </div>
    </div>
  </div>
  <section class="section2">
    <div class="container">
      <div class="se">
        <div class="se__left">
          <div class="se__top">
            <h2 class="se__title">Увеличьте скорость и упростите оперативные процессы</h2>
            <p class="se__text">
              Получайте отчетность о работе заведения в режиме реального времени с ПК, планшета или смартфона.
            </p>
          </div>
          <div class="se__bottom">
            <a href="#" class="btn btn-lg btn-success">Попробовать бесплатно</a>
            <a href="#" class="btn btn-lg btn-black">Подобрать тариф</a>
          </div>
        </div>

        <div class="se__right">
          <div class="row">
            <div class="col">
              <div class="pi pi--smart">
                <h3 class="pi__head">
                  Dooglys — это единая
                  <br>
                  экосистема
                </h3>
                <div class="pi__text">
                  Вы получаете не только
                  <br>
                  инструмент для
                  <br>
                  автоматизации бизнес-
                  <br>
                  процессов, но еще свой
                  <br>
                  сайт, мобильное
                  <br>
                  приложение и ВК-магазин.
                </div>
              </div>
            </div>
            <div class="col">
              <div class="pi pi--button">
                <div class="pi__content">
                  <h3 class="pi__head">
                    Вы платите только
                    <br>
                    за то что нужно
                  </h3>
                  <div class="pi__text">
                    Базовый тариф включает все
                    <br>
                    необходимое для небольшого
                    <br>
                    кафе. По мере роста бизнеса вы
                    <br>
                    сами выбираете
                    и
                    подключаете
                    <br>
                    новые функции.
                  </div>
                </div>
                <div class="pi__footer">

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="pi pi--full">
                <div class="row">
                  <div class="col">
                    <div class="pi__head">Работаете с любого оборудования и в любых условиях</div>
                    <div class="pi__text">Вы можете работать с телефона, планшета, ноутбука, а также в отсутствии
                      электроэнергии и при потере связи с интернетом. </div>
                  </div>
                  <div class="col">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="pi pi--update">
                <div class="pi__head">Моментальное обновление и синхронизация всех приложений между собой</div>
                <div class="pi__text">Все модули программы находятся в единой экосистеме, изменения между ними
                  передаются
                  путем нажатия одной кнопки. Можно моментально изменить цены или меню на сайте, сохранив при этом
                  данные
                  для других источников. </div>
              </div>
            </div>
            <div class="col">
              <div class="pi pi--support">
                <div class="pi__content">
                  <div class="pi__head">С первого раза дозваниваетесь в техподдержку</div>
                  <div class="pi__text">Наши клиенты получают помощь сразу. В то время как многие разработчики ПО
                    обещают
                    быть на связи 24/7, но в реальности ваш звонок может оказаться десятым в очереди. </div>
                </div>
                <div class="pi__footer">
                  <a href="#" class="btn btn-outline-black">Задать вопрос</a>
                  <div class="pi__socials">
                    <a href="#" class="btn btn-circle btn-cell"></a>
                    <a href="#" class="btn btn-circle btn-telegram"></a>
                    <a href="#" class="btn btn-circle btn-whatsapp"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section3">
    <div class="container">
      <h2 class="sectionHead section3__head">Особенности <br> программы Dooglys <br> для кафе</h2>

      <div class="row row3">
        <div class="col row3__left">
          <div class="dnblock">
            <div class="dnblock__head">Dooglys ведет учет большого ассортимента товаров и услуг предприятия</div>
            <div class="dnblock__subtitle">
              Dooglys легко подстроить под специфику вашего бизнеса:
            </div>
            <ul class="dnblock__list">
              <li class="dnblock__item">
                Можете полностью автоматизировать доставку, от момента звонка клиента до выдачи курьеру собранного
                и упакованного заказа.
              </li>
              <li class="dnblock__item">
                Подключить функционал для самообслуживания посетителей или для работы персонала.
              </li>
              <li class="dnblock__item">
                Предусмотреть возможность оплаты через терминал и по QR-коду.
              </li>
              <li class="dnblock__item">
                Запустить продажи через сайт, мобильное приложение или ВК-магазин.
              </li>
            </ul>
          </div>

          <div class="translucent">
            Помогает контролировать
            работу
            <br>
            персонала: менеджеры,
            кассиры,
            <br>
            продавцы, официанты,
            курьеры,
            <br>
            бармены
          </div>
        </div>
        <div class="col row3__right">
          <div class="opblock">
            <h4 class="opblock__head">
              Поддерживает
              <br>
              разные типы оплат
            </h4>
            <div class="opblock__list">
              <a href="#" class="btn btn-outline-secondary">наличные</a>
              <a href="#" class="btn btn-outline-secondary">карты</a>
              <a href="#" class="btn btn-outline-secondary">электронные платежи</a>

            </div>
          </div>
          <div class="opblock opblock--2">
            <h4 class="opblock__head">
              Помогает контролировать
              <br>
              работу
            </h4>
            <div class="opblock__list">
              <a href="#" class="btn btn-outline-secondary">официанты</a>
              <a href="#" class="btn btn-outline-secondary">курьеры</a>
              <a href="#" class="btn btn-outline-secondary">повара</a>
              <a href="#" class="btn btn-outline-secondary">бармены</a>
            </div>
          </div>

          <div class="opblock">
            <h4 class="opblock__head">
              Предоставляет маркетинговые
              <br>
              инструменты для привлечения
              <br>
              и удержания клиентов.
            </h4>
            <div class="opblock__list">
              <a href="#" class="btn btn-outline-secondary">бонусные программы</a>
              <a href="#" class="btn btn-outline-secondary">контроль рекламы</a>
              <a href="#" class="btn btn-outline-secondary">Push</a>
              <a href="#" class="btn btn-outline-secondary">скидки</a>
              <a href="#" class="btn btn-outline-secondary">SMS</a>
              <a href="#" class="btn btn-outline-secondary">e-mail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="weofferblock">
        <h2 class="sectionHead weofferblock__head">
          Что предлагает система
          <br>
          автоматизации кафе Dooglys
        </h2>
        <div class="weofferblock__list">
          <a href="#" class="btn btn-primary btn-lg active">Онлайн-касса/терминал официанта</a>
          <a href="#" class="btn btn-primary btn-lg">QR-меню</a>
          <a href="#" class="btn btn-primary btn-lg">Технологические карты</a>
          <a href="#" class="btn btn-primary btn-lg">Учет предпочтений клиентов</a>
          <a href="#" class="btn btn-primary btn-lg">Отправка чаевых по QR-коду</a>
          <a href="#" class="btn btn-primary btn-lg">Отчетность и аналитика</a>
          <a href="#" class="btn btn-primary btn-lg">Касса самообслуживания</a>
        </div>
        <div class="row">
          <div class="col">
            <a href="#" class="btn btn-outline-secondary fz">54-ФЗ</a>

            <h4 class="weofferblock__subhead">Онлайн-касса/
              <br>
              портативный кассовый
              <br>
              терминал официанта
            </h4>
            <div class="weofferblock__text">
              Касса работает на Windows, Android,  MSPOS или Эвотор, соответствует 54-ФЗ. Модуль ускоряет процесс
              обслуживания, напоминает кассиру о специальных акциях и предложениях. После оформления заказ заказ
              автоматически поступает исполнителю. А по готовности-менеджер получит уведомление. Онлайн-касса продолжает
              бесперебойную и надежную работу даже при отключении электричества и отсутствии интернета.
            </div>
          </div>
          <div class="col weofferblock__pictureBlock">
            <div class="weofferblock__slide weofferblock__slide1 active">
              <img src="./images/slide1.png" alt="Slide" class="weofferblock__picture">
            </div>
          </div>
        </div>
        <div class="weofferblock__footer">
          <div>
            <a href="№" class="btn btn-lg btn-black">Попробовать бесплатно</a>
          </div>

          <div class="weofferblock__dots">
            <div class="active"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="clientsblock">
        <div class="row">
          <div class="col">
            <h2 class="sectionHead clientsblock__head">
              Dooglys используют
              <br> кафе и рестораны:
            </h2>
          </div>
          <div class="col">
            <div class="clientsblock__badge">
              Всего более
              <br>
              500 компаний
            </div>
          </div>
        </div>

        <ul class="clientsblock__list">
          <li><img src="./images/clients/1.png" alt="" class="clientsblock__picture"></li>
          <li><img src="./images/clients/2.png" alt="" class="clientsblock__picture"></li>
          <li><img src="./images/clients/3.png" alt="" class="clientsblock__picture"></li>
          <li><img src="./images/clients/4.png" alt="" class="clientsblock__picture"></li>
          <li><img src="./images/clients/5.png" alt="" class="clientsblock__picture"></li>
          <li><img src="./images/clients/6.png" alt="" class="clientsblock__picture"></li>
          <li><img src="./images/clients/7.png" alt="" class="clientsblock__picture"></li>
          <li><img src="./images/clients/8.png" alt="" class="clientsblock__picture"></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section4">
    <div class="container">
      <h2 class="sectionHead saas__head">Дуглис-СААС</h2>
      <div class="row saas__row1">
        <div class="col">
          <div class="saas__subtitle">Удобство Dooglys, которое высоко оценили клиенты, объясняется просто. Изначально
            программа создавалось для федеральной сети кафе с доставкой «Автосуши Автопицца»
          </div>
        </div>
        <div class="col">
          <div class="saas__text">
            Функционал Dooglys несколько лет прорабатывался на практике, в режиме реальной работы заведений.
            На сегодняшний день система Dooglys — одно из лучших решений для кафе, особенно при наличии колл-центра
            и службы доставки.
          </div>
        </div>
        <div class="col saas__picture"><img src="./images/logo_rect.png" alt="Автосуши" class="saas__img"></div>
      </div>
      <div class="row saasinfo">
        <div class="col saasinfo__left">
          <div class="saasinfo__content">
            <div class="saasinfo__head">
              Dooglys используется по всей
              <br>
              России и в странах СНГ
            </div>
            <div class="saasinfo__text">
              Разработчик Dooglys — компания «Дуглис-СААС», на рынке 11 лет (с 2012 года). Только за последние 2 года ПО
              Dooglys установили более 500 заведений в 100 городах России. Работаем также и с компаниями из стран СНГ.
            </div>

          </div>
          <div class="saasinfo__footer">
            <a href="#" class="btn btn-outline-secondary btn-small">Отзывы клиентов</a>
          </div>
        </div>
        <div class="col saasinfo__right">
          <img src="./images/saasinfo.png" alt="" class="saasinfo__img">
        </div>
      </div>
      <div class="row auto">
        <div class="col auto__list">
          <div class="auto__picture">
            <img src="./images/auto1.png" alt="">
          </div>
          <div class="auto__picture">
            <img src="./images/auto2.png" alt="">
          </div>
          <div class="auto__picture">
            <img src="./images/auto3.png" alt="">
          </div>
        </div>
        <div class="col auto__content">
          <h3 class="auto__head">
            Не только автоматизация,
            <br> но еще и маркетинговые инструменты
          </h3>
          <div class="auto__text">
            Помимо CRM-системы Dooglys предоставляет сайт, мобильное приложение и приложение для социальной сети
            ВКонтакте,  что позволяет им реально увеличивать продажи.
          </div>
          <div class="auto__footer">
            <a href="#" class="btn btn-outline-secondary btn-small">Инструменты</a>
          </div>
        </div>
      </div>
      <div class="row saasinfo saasinfo--second">
        <div class="col saasinfo__left">
          <div class="saasinfo__head">
            Новый функционал и обновления
            <br>
            тестируем вместе с клиентами
          </div>
          <div class="row saasinfo__text">
            <div class="col">
              Наши новые продукты клиенты пробуют бесплатно, а их обратная связь помогает нам сразу выявить и доработать
              все неудобства в использовании и ошибки.
            </div>
            <div class="col">
              Например, ВК-магазин тестировался на реальных бизнесах клиентов и дорабатывался на основе обратной связи.
            </div>
          </div>
        </div>
        <div class="col saasinfo__center">
          <a href="#" class="btn btn-outline-secondary btn-small">Карта развития</a>
        </div>
        <div class="col saasinfo__right">
          <img src="./images/code.png" alt="" class="saasinfo__img">
        </div>
      </div>
      <div class="row int__row">
        <div class="col int int--blue">
          <div class="int__head">
            Внешние интеграции
          </div>
          <div class="int__text">
            Программа автоматизации Dooglys открыта для внешних интеграции по API. Вы можете сделать интеграцию
            собственного сайта или мобильного приложения. Доступные интеграции уже сегодня:
          </div>
          <div class="int__footer">
            <div class="row">
              <div class="col">
                1С Бухгалетрия <br>
                Yandex Еда и Chibbis <br>
                DocsInBox <br>
                UDS <br>
                СберМаркет
              </div>
              <div class="col">
                MANGO OFFICE <br>
                Ravvy <br>
                Нетомоент <br>
                ВКонтакте <br>
                iiko
              </div>
            </div>
          </div>
        </div>
        <div class="col int int--lightblue">
          <div class="int__head">
            Бесплатное обучение
          </div>
          <div class="int__text">
            Мы открыты и делимся полезной информацией бесплатно. Пишем обучающие статьи, регулярно проводим вебинары и
            размещаем все это в свободном доступе.
          </div>
          <div class="int__footer">
            <a href="#" class="btn btn-outline-secondary btn-small2">Вебинары</a>
            <a href="#" class="btn btn-outline-secondary btn-small2">Раздел техподдержки</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section5 tarif">
    <div class="container">
      <div class="row">
        <div class="col tarif__left">
          <h2 class="sectionhead tarif__head">Цена, как за пару
            <br> чашек кофе: от 500 р.
            <br>
            в месяц
          </h2>
          <img class="tarif__picture" src="./images/cofe.png" alt="Кофе">
        </div>
        <div class="col tarif__right">
          <div class="tarif__text">
            Предлагаем только тот функционал, который необходим вашему бизнесу на данном этапе. Вы не переплачиваете за
            опции, которыми не будете пользоваться. А по мере роста и развития кафе сможете легко дополнять и расширять
            возможности ПО.
          </div>
          <div class="tarif__buttons">
            <img src="./images/btns-picture.png" alt="">
          </div>
        </div>
      </div>
      <div class="tf">
        <div class="th">
          <div class="th__left">
            <h3 class="sectionhead th__head">Цены</h3>
            <div class="tg">
              <div class="tg__item">В год</div>
              <div class="tg__item active">В месяц</div>
            </div>
          </div>
          <div class="th__right">

          </div>
        </div>
        <div class="tf__list">
          <div class="tcard">
            <div class="tcard__name">Даром</div>
            <div class="tcard__price">500 <span class="rub">₽</span></div>
            <div class="tcard__btnline">
              <a href="#" class="btn btn-outline-secondary">Попробовать</a>
            </div>
            <ul class="tcard__list">
              <li class="tcard__item">Номенклатура</li>
              <li class="tcard__item">Отчеты</li>
              <li class="tcard__item">Акции</li>
              <li class="tcard__item">Персонал</li>
              <li class="tcard__item">Dooglys Boss</li>
            </ul>
          </div>

          <div class="tcard">
            <div class="tcard__name">Быстрый старт</div>
            <div class="tcard__price">1500 <span class="rub">₽</span></div>
            <div class="tcard__btnline">
              <a href="#" class="btn btn-outline-secondary">Попробовать</a>
            </div>
            <div class="tcard__start">
              <div class="tcard__startline">Опции тарифа <br>Даром</div>
              <div class="tcard__plus"></div>
            </div>
            <ul class="tcard__list">
              <li class="tcard__item">Складской учет</li>
              <li class="tcard__item">Технологические карты</li>
              <li class="tcard__item">Доставка</li>
              <li class="tcard__item">Повар/Фасовщик/Эл. очередь</li>
              <li class="tcard__item">Интеграция с Яндекс.Еда</li>
            </ul>
          </div>

          <div class="tcard tcard--popular">
            <div class="tcard__pop">Популярный</div>
            <div class="tcard__name">Оптимальный</div>
            <div class="tcard__price">2200 <span class="rub">₽</span></div>
            <div class="tcard__btnline">
              <a href="#" class="btn btn-outline-secondary">Попробовать</a>
            </div>
            <div class="tcard__start">
              <div class="tcard__startline">Опции тарифа Старт</div>
              <div class="tcard__plus"></div>
            </div>
            <ul class="tcard__list">
              <li class="tcard__item">Стоп-листы</li>
              <li class="tcard__item">Логист/Водитель</li>
              <li class="tcard__item">Официант</li>
              <li class="tcard__item">Электронное меню</li>
              <li class="tcard__item">Персонал</li>
              <li class="tcard__item">СБП статичный</li>
              <li class="tcard__item">Модификаторы</li>
              <li class="tcard__item">Лояльность</li>
            </ul>
          </div>

          <div class="tcard">
            <div class="tcard__name">Максимальный</div>
            <div class="tcard__price">3000 <span class="rub">₽</span></div>
            <div class="tcard__btnline">
              <a href="#" class="btn btn-outline-secondary">Попробовать</a>
            </div>
            <div class="tcard__start">
              <div class="tcard__startline">Опции тарифа Оптима</div>
              <div class="tcard__plus"></div>
            </div>
            <ul class="tcard__list">
              <li class="tcard__item">Версии технологических карт</li>
              <li class="tcard__item">Интеграция с Chibbis</li>
              <li class="tcard__item">СБП динамичный</li>
              <li class="tcard__item">Табель учета рабочего времени</li>
              <li class="tcard__item">Telegram бот</li>
              <li class="tcard__item">Чаевые по QR</li>
              <li class="tcard__item">Отчет по потерянным клиентам</li>
              <li class="tcard__item">QR меню</li>
              <li class="tcard__item">Приложение Колл-центр</li>
            </ul>
          </div>

          <div class="tcard">
            <div class="tcard__name">Премиальный</div>
            <div class="tcard__price">5000 <span class="rub">₽</span></div>
            <div class="tcard__btnline">
              <a href="#" class="btn btn-outline-secondary">Попробовать</a>
            </div>
            <div class="tcard__start">
              <div class="tcard__startline">Опции тарифа Максимальный</div>
              <div class="tcard__plus"></div>
            </div>
            <ul class="tcard__list">
              <li class="tcard__item">Сайт/интернет-магазин</li>
              <li class="tcard__item">Мобильное приложение</li>
              <li class="tcard__item">Приложение Dooglys ВК</li>
              <li class="tcard__item">Push для моб.приложения</li>
            </ul>
          </div>

          <div class="tcard tcard--black">

            <div class="tdop">
              <div class="tdop__name">К каждому тарифу можно добавить необходимые опции</div>
              <div class="tdop__btn">Список опций</div>
            </div>

            <div class="tcard__name">Компания</div>
            <div class="tcard__price">??? <span class="rub">₽</span></div>
            <div class="tcard__btnline">
              <a href="#" class="btn btn-outline-secondary">Попробовать</a>
            </div>
            <div class="tcard__start">
              <div class="tcard__startline">Мы готовы предложить специальные условия крупным компаниям</div>
            </div>
          </div>
        </div>

        <div class="tf__footer">
          <a href="#" class="btn btn-tf">Сравнить тарифы</a>
        </div>
      </div>
    </div>
  </section>

  @@include("./template/footer.html") @@include("./template/scripts.html")
</body>

</html>