<!DOCTYPE html>
<html lang="ru">

<head>
  @@include("./template/head.html")
  <title>Новости</title>
</head>

<body class="page">
  <div class="container-layout">
    @@include("./template/header.html")
    <div class="wrapper">
      <div class="container">
        <h1 class="page-header">Блог и Новости</h1>

        <div class="blogContainer">
          <div class="blogContainer__content">
            <div class="blog">
              <div class="blog__images">
                <a href="./page.html" class="blog__link">
                  <img src="./images/new1.jpg" alt="blog">
                </a>
                <div class="blog__tags">
                  <a href="#" class="blog__tags-item">Оптимизация</a>
                  <a href="#" class="blog__tags-item">dooglys</a>
                  <a href="#" class="blog__tags-item">Кафе</a>
                  <a href="#" class="blog__tags-item">Общепит</a>
                </div>
              </div>

              <a href="./page.html" class="blog__content">
                <h2 class="blog__header">Автоматизация вашего кафе: как наша программа может упростить работу</h2>

                <div class="blog__date">
                  25 февраля 2024
                </div>
              </a>
            </div>

            <div class="blog">
              <div class="blog__images">
                <a href="./page.html" class="blog__link">
                  <img src="./images/new2.jpg" alt="blog">
                </a>
                <div class="blog__tags">
                  <a href="#" class="blog__tags-item">Оптимизация</a>
                  <a href="#" class="blog__tags-item">dooglys</a>
                  <a href="#" class="blog__tags-item">Кафе</a>
                </div>
              </div>

              <a href="./page.html" class="blog__content">
                <h2 class="blog__header">
                  Фастфуд без проблем: как автоматизация ускорит обслуживание клиентов
                </h2>

                <div class="blog__date">
                  25 февраля 2024
                </div>
              </a>
            </div>

            <div class="alertline">
              <h2 class="alertline__header">
                Управление клиентской базой в кафе и ресторанах: как наша программа поможет вам улучшить обслуживание
                клиентов
              </h2>
              <div class="alertline__footer">
                <a href="#" class="btn btn-success">Попробовать бесплатно</a>
                <a href="#" class="btn btn-outline-black">Попробовать тариф</a>
              </div>
            </div>

            <div class="blog">
              <div class="blog__images">
                <a href="./page.html" class="blog__link">
                  <img src="./images/new3.jpg" alt="blog">
                </a>
                <div class="blog__tags">
                  <a href="#" class="blog__tags-item">Оптимизация</a>
                  <a href="#" class="blog__tags-item">dooglys</a>
                  <a href="#" class="blog__tags-item">Кафе</a>
                  <a href="#" class="blog__tags-item">Общепит</a>
                </div>
              </div>

              <a href="./page.html" class="blog__content">
                <h2 class="blog__header">
                  Управление клиентской базой в кафе и ресторанах: как наша программа поможет вам улучшить обслуживание
                  клиентов
                </h2>

                <div class="blog__date">
                  25 февраля 2024
                </div>
              </a>
            </div>

            <div class="blog">
              <div class="blog__images">
                <a href="./page.html" class="blog__link">
                  <img src="./images/new4.jpg" alt="blog">
                </a>
                <div class="blog__tags">
                  <a href="#" class="blog__tags-item">Оптимизация</a>
                  <a href="#" class="blog__tags-item">Кафе</a>
                  <a href="#" class="blog__tags-item">Общепит</a>
                </div>
              </div>

              <a href="./page.html" class="blog__content">
                <h2 class="blog__header">
                  10 новых возможностей нашей программы для автоматизации бизнеса
                </h2>

                <div class="blog__date">
                  25 февраля 2024
                </div>
              </a>
            </div>


            <div class="blog">
              <div class="blog__images">
                <a href="./page.html" class="blog__link">
                  <img src="./images/new5.jpg" alt="blog">
                </a>
                <div class="blog__tags">
                  <a href="#" class="blog__tags-item">Кафе</a>
                  <a href="#" class="blog__tags-item">Общепит</a>
                </div>
              </div>

              <a href="./page.html" class="blog__content">
                <h2 class="blog__header">
                  Как автоматизировать бухгалтерию в малом бизнесе: обзор нашей программы
                </h2>

                <div class="blog__date">
                  25 февраля 2024
                </div>
              </a>
            </div>

          </div>
          <div class="blogContainer__sidebar">
            <div class="blogContainer__tags">
              <a href="#" class="tag">Оптимизация</a>
              <a href="#" class="tag">dooglys</a>
              <a href="#" class="tag">Кафе</a>
              <a href="#" class="tag">Фастфуд</a>
              <a href="#" class="tag">Мир</a>
              <a href="#" class="tag">Ритейл</a>
              <a href="#" class="tag">Оптимизация</a>
              <a href="#" class="tag">Фастфуд</a>
              <a href="#" class="tag">Мир</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    @@include("./template/footer.html")
  </div>
  @@include("./template/scripts.html")
</body>

</html>