<!DOCTYPE html>
<html lang="ru">

<head>
  @@include("./template/head.html")
  <title>Новости</title>
</head>

<body class="page">
  <div class="container-layout">
    @@include("./template/header.html")
    <div class="wrapper">
      <div class="container">
        <h1 class="page-header">
          Типовая вторичная с очень длинным заголовком
          <span class="date">1 июня 2024</span>
        </h1>

        <div class="blogContainer">
          <div class="blogContainer__content">

          </div>
          <div class="blogContainer__sidebar">
          </div>
        </div>
      </div>
    </div>

    @@include("./template/footer.html")
  </div>
  @@include("./template/scripts.html")
</body>

</html>