<!DOCTYPE html>
<html lang="ru">

<head>
  @@include("./template/head.html")
  <title>Новости</title>
</head>

<body class="page page--text">
  <div class="container-layout">
    @@include("./template/header.html")
    <div class="wrapper">
      <div class="container">
        <div class="breadcrumbs"><a href="./news.html" class="breadcrumbs__link">Блог и Новости</a> /</div>
        <h1 class="page-header">
          Типовая вторичная с очень длинным заголовком
          <span class="date">1 июня 2024</span>
        </h1>

        <div class="blogContainer">
          <div class="blogContainer__content">

            <div class="text-block">
              <h2>
                В ходе мероприятия мы поговорили о модификаторах и их важной роли в бизнесе.
              </h2>
              <div class="img-block">
                <img src="./images/new3.jpg" alt="">
                <div class="img-block__text">
                  Небольшая подпись фотографии, если потребуется
                </div>
              </div>

              <h3>Что такое модификаторы? </h3>

              <p>
                В общепите модификаторы —  это добавки или как привыкли всех называть допы к блюдам. С помощью
                модификаторов кассир автоматически уведомляет повара о том, какие ингредиенты добавить к блюду,
                например: к картошке фри — сырный соус, к пицце «Пепперони» — добавить острый перец. 
              </p>
              <p>

                Кроме добавок, модификаторы могут выступать заменителями основных блюд. Например: название блюда
                «Пицца», а модификаторы разновидности пиццы «Сырная», «Пепперони», «Маргарита» или блюдо называется
                «Пицца Пепперони», а модификаторы  — это размер пиццы «Пепперони 25см», «Пепперони 35 см».
              </p>

              <div class="img-block">
                <img src="./images/text1.jpg" alt="">
                <div class="img-block__text">
                  Небольшая подпись фотографии, если потребуется
                </div>
              </div>

              <p>
                Также модификаторы можно использовать в качестве заранее подготовленных комментариев для повара,
                например: товар «Бургер», модификатор — «без лука», «без соуса», «без сыра», или блюдо «Стейк говядины»,
                модификатор степень прожарки «Средней прожарки», «Сильной прожарки», или указать тип подачи блюда «на
                подносе», «завернуть в упаковку для самовывоза». 
              </p>
              <p>

                Модификаторы удобно использовать для блюд-конструкторов, когда клиент сам выбирает ингредиенты или
                блюда. Например: блюда «Бизнеса ланч», модификаторы разделяем по группам «Супы на выбор» (Борщ, куриный,
                солянка), «Горячее на выбор» (мясо, рыба), «Гарнир на выбор» (картофель, овощи, рис), «Напитки на выбор»
                (сок, морс, чай).
              </p>

              <h3>
                Как с ними работать?
              </h3>

              <p>
                Для удобства работы с модификаторами необходимо заранее продумать основное меню, стоимость блюд и
                стоимость модификаторов. Если модификатор будет являться заменителем товара (например размер пиццы),
                тогда сам товар будет по нулевой цене, а основную цену указываем у модификаторов. Удобнее модификаторы
                разделять на группы, если модификаторов не много, тогда можно работать с единичными модификаторами.
                Более подробно смотрите на вебинаре. 
              </p>

              <h3>
                Какую роль играют
                <br>
                модификаторы?
              </h3>

              Благодаря модификаторам мы:
              <ul>
                <li>
                  ускоряем процесс приема заказа (оператору на нужно писать длинные комментарии, вспоминать, что же
                  можно предложить клиенты, так как модификатор своего рода подсказка для кассира)
                </li>
                <li>
                  упрощает работу повара (повар видит все пожелания клиента и учитывает их в процессе приготовления)
                </li>
                <li>
                  индивидуальный подход к клиенту (клиент может заказать любимое блюдо, приготовленное по его рецепту и
                  с учетом его индивидуальных вкусов и пожеланий).
                </li>
              </ul>

              <div class="video-block">
                <img src="./images/video.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    @@include("./template/footer.html")
  </div>
  @@include("./template/scripts.html")
</body>

</html>