<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <title>Dooglys - Автоматизация фастфуда</title>
  @@include("./template/head.html")
</head>

<body class="page page--solutions">
  @@include("./template/header.html")
  <div class="baner baner--solutions">
    <div class="container">
      <h2 class="baner__head">
        Автоматизация фастфуда: <span>касса</span>, <span>управление персоналом</span>, <span>складской учет</span> и
        <span>отчетность</span> в одном смартфоне
      </h2>

      <a href="#" class="btn btn-gradient">Попробовать бесплатно</a>
    </div>
  </div>

  <section class="timeinst">
    <div class="container timeinst__container">
      <div class="timeinst__left">
        Увеличьте прибыль заведения с помощью системы автоматизации фастфуда Dooglys. Программа позволяет максимально
        быстро обслуживать клиентов, предоставлять конкурентный уровень сервиса, минимизировать ошибки персонала.
      </div>

      <div class="timeinst__right">
        <div class="timeinst__image">
          <img src="./images/timeinst.webp" alt="Screenshot dooglys">
        </div>
        <div class="timeinst__text">
          <h3 class="timeinst__head">Устанавливается всего за 1 час.</h3>
          <p class="timeinst__coment">
            Работает на телефоне, планшете или ноутбуке,
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section2 section2--solutions">
    <div class="container">
      <div class="se">
        <div class="se__left">
          <div class="se__top">
            <h2 class="se__title">Увеличьте скорость и упростите оперативные процессы</h2>
          </div>
          <div class="se__bottom">
            <a href="#" class="btn btn-lg btn-success">Попробовать бесплатно</a>
            <a href="#" class="btn btn-lg btn-black">Подобрать тариф</a>
          </div>
        </div>

        <div class="se__right">
          <div class="row">
            <div class="col">
              <div class="pi pi--toggle">
                <h3 class="pi__head">
                  Автоматизация всех процессов
                </h3>
                <div class="pi__text">
                  ПО Dooglys объединяет кассу, сайт, мобильное приложение в одну систему, интегрируется с CRM для
                  фастфуда. Вы управляете бизнесом из личного кабинета с любого устройства, из любого уголка мира.
                </div>
              </div>
            </div>
            <div class="col">
              <div class="pi pi--button pi--button-white">
                <div class="pi__content">
                  <h3 class="pi__head">
                    Мгновенная синхронизация работы заведения
                  </h3>
                  <div class="pi__text">
                    Кассовый терминал автоматически направляет заказы на кухню. Мобильное приложение координирует
                    приготовление блюд, их сборку, упаковку и доставку
                  </div>
                </div>
                <div class="pi__footer">

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="pi pi--full pi--full-white">
                <div class="row">
                  <div class="col">
                    <div class="pi__head">Бесперебойная работа в любых условиях</div>
                    <div class="pi__text">ПО работает даже при отключении электроэнергии и интернета. В это время вся
                      информация записывается в память и синхронизируется при выходе в сеть.</div>
                  </div>
                  <div class="col">
                    <img src="./images/graph-4x.webp" alt="Graph">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pi pi--wallet">
            <div class="row">
              <div class="col">
                <img src="./images/wallet-4x.webp" alt="" class="pi__wallet">
                <a class="btn btn-outline-black pi__outline-btn" href="#feedback-modal" rel="modal:open">Задать
                  вопрос</a>
              </div>
              <div class="col">
                <div class="pi__content">
                  <div class="pi__head">Адаптация под условия работы без переплаты</div>
                  <div class="pi__text">
                    Базовый тариф подойдет для небольшого заведения, а по мере развития вы сможете расширить функционал
                    без переплат за ненужные опции.
                  </div>
                </div>
                <div class="pi__footer">
                  <div class="pi__socials">
                    <a href="#" class="btn btn-circle btn-cell"></a>
                    <a href="#" class="btn btn-circle btn-telegram"></a>
                    <a href="#" class="btn btn-circle btn-whatsapp"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-mobile-group">
        <a href="#" class="btn btn-lg btn-success">Попробовать бесплатно</a>
        <a href="#" class="btn btn-lg btn-black">Подобрать тариф</a>
      </div>
    </div>
  </section>
  <section class="section section--hang">
    <div class="container">
      <h2 class="sectionhead sectionhead--black">
        Особенности программы Dooglys для фастфуда
      </h2>
      <div class="hang">
        <div class="hang__item">
          <h3 class="hang__title">
            Для фастфуда особенно важна стандартизация и автоматизация процессов.
          </h3>
          <p class="hang__coment">
            Поскольку такие заведения ориентированы на быстрое обслуживание большого количества клиентов.
          </p>
        </div>

        <div class="hang__item">
          <h3 class="hang__title">
            Автоматизация фастфуда Dooglys помогает максимально сократить ручную обработку заказов.
          </h3>
          <p class="hang__coment">
            Поскольку система Dooglys разрабатывалась для сети кафе с доставкой, она идеально подходит и для фастфуда.
          </p>
        </div>

        <div class="hang__item hang__item--snak">
          <p class="hang__coment">
            Например, в заведениях фастфуда используются автоматизированные системы приготовления пищи — фритюрницы,
            грили, кофемашины — которыми можно управлять с помощью программного обеспечения. Важным элементом
            автоматизации фастфуда также являются системы самообслуживания, позволяющие клиентам самостоятельно выбирать
            и оплачивать свои заказы.
          </p>
        </div>

      </div>
    </div>
  </section>
  <section class="section section--weoffer">
    <div class="container">
      <div class="weofferblock">
        <h2 class="sectionHead weofferblock__head">
          Что предлагает система
          <br>
          автоматизации кафе Dooglys
        </h2>
        <div class="weofferblock__list">
          <a href="#slide1" class="btn btn-primary btn-lg active">
            Онлайн-касса
          </a>
          <a href="#slide2" class="btn btn-primary btn-lg">
            QR-меню
          </a>
          <a href="#slide2" class="btn btn-primary btn-lg">
            Касса самообслуживания/электронный кассир
          </a>
          <a href="#slide2" class="btn btn-primary btn-lg">
            Электронная очередь
          </a>
          <a href="#slide2" class="btn btn-primary btn-lg">
            Тех карты и план приготовления
          </a>
          <a href="#slide2" class="btn btn-primary btn-lg">
            Модификаторы или комбо-блюда
          </a>
          <a href="#slide2" class="btn btn-primary btn-lg">
            Приложение для руководителя
          </a>
        </div>
        <div class="swiper swiper-weoffer">
          <div class="swiper-wrapper">
            <div data-hash="slide1" class="swiper-slide">
              <div class="row">
                <div class="col weofferblock__content">


                  <div class="weofferblock__text">
                    <a href="#" class="btn btn-outline-secondary fz">54-ФЗ</a>
                    <h4 class="weofferblock__subhead">
                      Онлайн-касса
                    </h4>
                    <div class="weofferblock__text">
                      Программа устанавливается на смартфон, планшет, ноутбук или кассовый терминал. Работает на
                      операционной системе Windows и Android. Продолжает функционировать в офлайн режиме. Автоматизирует
                      взаимодействие зала и кухни.
                    </div>
                  </div>
                </div>
                <div class="col weofferblock__pictureBlock">
                  <div class="weofferblock__slide">
                    <img src="./images/slide1.webp" alt="Slide" class="weofferblock__picture">
                  </div>
                </div>
              </div>
            </div>

            <div data-hash="slide2" class="swiper-slide">
              <div class="row">
                <div class="col weofferblock__content">


                  <div class="weofferblock__text">
                    <a href="#" class="btn btn-outline-secondary fz">54-ФЗ</a>
                    <h4 class="weofferblock__subhead">
                      Онлайн-касса
                    </h4>
                    <div class="weofferblock__text">
                      Программа устанавливается на смартфон, планшет, ноутбук или кассовый терминал. Работает на
                      операционной системе Windows и Android. Продолжает функционировать в офлайн режиме. Автоматизирует
                      взаимодействие зала и кухни.
                    </div>
                  </div>
                </div>
                <div class="col weofferblock__pictureBlock">
                  <div class="weofferblock__slide">
                    <img src="./images/Samsung_Tab.webp" alt="Slide" class="weofferblock__picture">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="weofferblock__footer">
          <div class="weofferblock__footer-left">
            <a href="№" class="btn btn-lg btn-black">Попробовать бесплатно</a>
          </div>

          <div class=" weofferblock__dots"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--company">
    <div class="container">
      <div class="clientsblock">
        <div class="row">
          <div class="col">
            <h2 class="sectionHead sectionhead--black clientsblock__head">
              Dooglys используют
              <br> кафе и рестораны:
            </h2>
          </div>
          <div class="col">
            <div class="clientsblock__badge clientsblock__badge--first">
              Всего более
              <br>
              500 компаний
            </div>
          </div>
        </div>

        <ul class="clientsblock__list">
          <li><img src="./images/clients/1.webp" alt="" class="clientsblock__picture"></li>
          <li><img src="./images/clients/2.webp" alt="" class="clientsblock__picture"></li>
          <li><img src="./images/clients/3.webp" alt="" class="clientsblock__picture"></li>
          <li><img src="./images/clients/4.webp" alt="" class="clientsblock__picture"></li>
          <li><img src="./images/clients/5.webp" alt="" class="clientsblock__picture"></li>
          <li><img src="./images/clients/6.webp" alt="" class="clientsblock__picture"></li>
          <li><img src="./images/clients/7.webp" alt="" class="clientsblock__picture"></li>
          <li><img src="./images/clients/8.webp" alt="" class="clientsblock__picture"></li>
        </ul>

        <div class="clientsblock__badge clientsblock__badge--second">
          Всего более
          <br>
          500 компаний
        </div>
      </div>
    </div>
  </section>
  <section class="section4">
    <div class="container">
      <h2 class="sectionHead saas__head">Дуглис-СААС</h2>
      <div class="row saas__row1">
        <div class="col">
          <div class="saas__subtitle">Удобство Dooglys, которое высоко оценили клиенты, объясняется просто. Изначально
            программа создавалось для федеральной сети кафе с доставкой «Автосуши Автопицца»
          </div>
        </div>
        <div class="col">
          <div class="saas__text">
            Функционал Dooglys несколько лет прорабатывался на практике, в режиме реальной работы заведений.
            На сегодняшний день система Dooglys — одно из лучших решений для кафе, особенно при наличии колл-центра
            и службы доставки.
          </div>
        </div>
        <div class="col saas__picture"><img src="./images/logo_rect.webp" alt="Автосуши" class="saas__img"></div>
      </div>
      <div class="row saasinfo">
        <div class="col saasinfo__left">
          <div class="saasinfo__content">
            <div class="saasinfo__head">
              Dooglys используется по всей
              <br>
              России и в странах СНГ
            </div>
            <div class="saasinfo__text">
              Разработчик Dooglys — компания «Дуглис-СААС», на рынке 11 лет (с 2012 года). Только за последние 2 года ПО
              Dooglys установили более 500 заведений в 100 городах России. Работаем также и с компаниями из стран СНГ.
            </div>

          </div>
          <div class="saasinfo__footer">
            <a href="#" class="btn btn-outline-secondary btn-small">Отзывы клиентов</a>
          </div>
        </div>
        <div class="col saasinfo__right">
          <img src="./images/saasinfo.webp" alt="" class="saasinfo__img">
        </div>
      </div>
      <div class="row auto">
        <div class="col auto__list">
          <div class="auto__picture">
            <img src="./images/auto1.webp" alt="">
          </div>
          <div class="auto__picture">
            <img src="./images/auto2.webp" alt="">
          </div>
          <div class="auto__picture">
            <img src="./images/auto3.webp" alt="">
          </div>
        </div>
        <div class="col auto__content">
          <h3 class="auto__head">
            Не только автоматизация,
            <br> но еще и маркетинговые инструменты
          </h3>
          <div class="auto__text">
            Помимо CRM-системы Dooglys предоставляет сайт, мобильное приложение и приложение для социальной сети
            ВКонтакте,  что позволяет им реально увеличивать продажи.
          </div>
          <div class="auto__footer">
            <a href="#" class="btn btn-outline-secondary btn-small">Инструменты</a>
          </div>
        </div>
      </div>
      <div class="row saasinfo saasinfo--second">
        <div class="col saasinfo__left">
          <div class="saasinfo__head">
            Новый функционал и обновления
            <br>
            тестируем вместе с клиентами
          </div>
          <div class="row saasinfo__text">
            <div class="col">
              Наши новые продукты клиенты пробуют бесплатно, а их обратная связь помогает нам сразу выявить и доработать
              все неудобства в использовании и ошибки.
            </div>
            <div class="col">
              Например, ВК-магазин тестировался на реальных бизнесах клиентов и дорабатывался на основе обратной связи.
            </div>
          </div>
        </div>
        <div class="col saasinfo__center">
          <a href="#" class="btn btn-outline-secondary btn-small">Карта развития</a>
        </div>
        <div class="col saasinfo__right">
          <img src="./images/code.webp" alt="" class="saasinfo__img">
        </div>
      </div>
      <div class="row int__row">
        <div class="col int int--blue">
          <div class="int__head">
            Внешние интеграции
          </div>
          <div class="int__text">
            Программа автоматизации Dooglys открыта для внешних интеграции по API. Вы можете сделать интеграцию
            собственного сайта или мобильного приложения. Доступные интеграции уже сегодня:
          </div>
          <div class="int__footer">
            <div class="row">
              <div class="col">
                1С Бухгалетрия <br>
                Yandex Еда и Chibbis <br>
                DocsInBox <br>
                UDS <br>
                СберМаркет
              </div>
              <div class="col">
                MANGO OFFICE <br>
                Ravvy <br>
                Нетомоент <br>
                ВКонтакте <br>
                iiko
              </div>
            </div>
          </div>
        </div>
        <div class="col int int--lightblue">
          <div class="int__head">
            Бесплатное обучение
          </div>
          <div class="int__text">
            Мы открыты и делимся полезной информацией бесплатно. Пишем обучающие статьи, регулярно проводим вебинары и
            размещаем все это в свободном доступе.
          </div>
          <div class="int__footer">
            <a href="#" class="btn btn-outline-secondary btn-small2">Вебинары</a>
            <a href="#" class="btn btn-outline-secondary btn-small2">Раздел техподдержки</a>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="section5 tarif">
    <div class="container">
      <div class="row">
        <div class="col tarif__left">
          <h2 class="sectionhead tarif__head">Цена, как за пару
            <br> чашек кофе: от 500 р.
            <br>
            в месяц
          </h2>
          <img class="tarif__picture" src="./images/cofe.webp" alt="Кофе">
        </div>
        <div class="col tarif__right">
          <div class="tarif__text">
            Предлагаем только тот функционал, который необходим вашему бизнесу на данном этапе. Вы не переплачиваете за
            опции, которыми не будете пользоваться. А по мере роста и развития кафе сможете легко дополнять и расширять
            возможности ПО.
          </div>
          <div class="tarif__buttons">
            <img src="./images/btns-picture.webp" alt="">
          </div>
        </div>
      </div>
      @@include("./template/tarif.html")
    </div>
  </section>

  @@include("./template/footer.html") @@include("./template/scripts.html")
</body>

</html>