<!DOCTYPE html>
<html lang="ru">

<head>
  @@include("./template/head.html")
  <title>Тарифы</title>
</head>

<body class="page page--tf">
  <div class="container-layout">
    @@include("./template/header.html")
    <div class="wrapper">
      <div class="container">
        <div class="tf tf--full">
          <div class="th">
            <div class="th__left">
              <h3 class="sectionhead th__head">Цены</h3>
              <div class="tg">
                <div class="tg__item">В год</div>
                <div class="tg__item active">В месяц</div>
              </div>
              <div class="gift">
                <img src="./images/gift.webp" alt="" class="gift__img">
                <div class="gift__text">При оплате за год
                  1&nbsp;месяц бесплатно</div>
              </div>
            </div>
          </div>

          <div class="tf__list">
            <div class="swiper ncard-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide ncard">
                  <div class="ncard__head">
                    <div class="ncard__pop">Популярный</div>
                    <div class="ncard__name">Даром</div>
                    <div class="ncard__price">
                      500 <span class="rub">₽</span>
                    </div>
                    <a href="#" class="btn btn-outline ncard__btn">Попробовать</a>
                  </div>
                  <div class="ncard__content">
                    <div class="ncard__comment">
                      до 30 наименований
                    </div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                  </div>
                </div>
                <div class="swiper-slide ncard">
                  <div class="ncard__head">
                    <div class="ncard__pop">Популярный</div>
                    <div class="ncard__name">Быстрый старт</div>
                    <div class="ncard__price">
                      1500 <span class="rub">₽</span>
                    </div>
                    <a href="#" class="btn btn-outline ncard__btn">Попробовать</a>
                  </div>
                  <div class="ncard__content">
                    <div class="ncard__comment">
                      до 100
                    </div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                  </div>
                </div>

                <div class="swiper-slide ncard ncard--active">
                  <div class="ncard__head">
                    <div class="ncard__pop">Популярный</div>
                    <div class="ncard__name">Оптимальный</div>
                    <div class="ncard__price">
                      2200 <span class="rub">₽</span>
                    </div>
                    <a href="#" class="btn btn-outline ncard__btn">Попробовать</a>
                  </div>
                  <div class="ncard__content">
                    <div class="ncard__comment">
                      более 100
                    </div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                  </div>
                </div>

                <div class="swiper-slide ncard">
                  <div class="ncard__head">
                    <div class="ncard__pop">Популярный</div>
                    <div class="ncard__name">Максимальный</div>
                    <div class="ncard__price">
                      3000 <span class="rub">₽</span>
                    </div>
                    <a href="#" class="btn btn-outline ncard__btn">Попробовать</a>
                  </div>
                  <div class="ncard__content">
                    <div class="ncard__comment">
                      более 100
                    </div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                  </div>
                </div>

                <div class="swiper-slide ncard">
                  <div class="ncard__head">
                    <div class="ncard__pop">Популярный</div>
                    <div class="ncard__name">Премиальный</div>
                    <div class="ncard__price">
                      5000 <span class="rub">₽</span>
                    </div>
                    <a href="#" class="btn btn-outline ncard__btn">Попробовать</a>
                  </div>
                  <div class="ncard__content">
                    <div class="ncard__comment">
                      более 100
                    </div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                    <div class="ncheck ncheck--checked"></div>
                  </div>
                </div>

                <div class="swiper-slide ncard ncard--black">
                  <div class="ncard__head">
                    <div class="ncard__pop">Популярный</div>
                    <div class="ncard__name">Компания</div>
                    <div class="ncard__price">
                      ??? <span class="rub">₽</span>
                    </div>
                    <a href="#" class="btn btn-outline ncard__btn">Попробовать</a>
                  </div>
                  <div class="ncard__content">
                    <div class="ncard__comment">
                      Номенклатура
                    </div>
                    <div class="ncheck">
                      Отчеты
                    </div>
                    <div class="ncheck">
                      Акции
                    </div>
                    <div class="ncheck">
                      Персонал
                    </div>
                    <div class="ncheck">
                      Dooglys Boss
                    </div>
                    <div class="ncheck">
                      Складской учет
                    </div>
                    <div class="ncheck">
                      Технологические карты
                    </div>
                    <div class="ncheck">
                      Доставка
                    </div>
                    <div class="ncheck">
                      Повар/Фасовщик/Эл. очер
                    </div>

                    <div class="ncheck">
                      Интеграция с Яндекс.Еда
                    </div>
                    <div class="ncheck">
                      Стоп-листы
                    </div>
                    <div class="ncheck">
                      Логист/Водитель
                    </div>
                    <div class="ncheck">
                      Официант
                    </div>

                    <div class="ncheck">
                      Электронное меню
                    </div>
                    <div class="ncheck">
                      Персонал
                    </div>
                    <div class="ncheck">
                      СБП статичный
                    </div>
                    <div class="ncheck">
                      Модификаторы
                    </div>
                    <div class="ncheck">
                      Лояльность
                    </div>
                    <div class="ncheck">
                      Версии тех. карт
                    </div>
                    <div class="ncheck">
                      Интеграция с Chibbis
                    </div>
                    <div class="ncheck">
                      СБП динамичный
                    </div>
                    <div class="ncheck">
                      Табель учета раб. времени
                    </div>
                    <div class="ncheck">
                      Telegram бот
                    </div>
                    <div class="ncheck">
                      Чаевые по QR
                    </div>
                    <div class="ncheck">
                      Потерянные клиенты
                    </div>
                    <div class="ncheck">
                      QR меню
                    </div>
                    <div class="ncheck">
                      Приложение Колл-центр
                    </div>
                    <div class="ncheck">
                      Сайт/интернет-магазин
                    </div>
                    <div class="ncheck">
                      Мобильное приложение
                    </div>
                    <div class="ncheck">
                      Приложение Dooglys ВК
                    </div>
                    <div class="ncheck">
                      Push для моб.приложения
                    </div>


                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <h3 class="theader">
            <div class="theader__head">
              Идеальный тариф
            </div>
            <div class="theader__small">
              отметьте нужные функции
              <br>
              для вашего дела
            </div>
          </h3>

          <div class="tf__list tf__list--simple">
            <div class="swiper ncard-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide ncard">
                  <div class="ncard__content">
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>

                  </div>
                </div>

                <div class="swiper-slide ncard">
                  <div class="ncard__content">
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>

                  </div>
                </div>

                <div class="swiper-slide ncard">
                  <div class="ncard__content">
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>

                  </div>
                </div>

                <div class="swiper-slide ncard">
                  <div class="ncard__content">
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>

                  </div>
                </div>

                <div class="swiper-slide ncard">
                  <div class="ncard__content">
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>
                    <div class="ncheck ncheck--unchecked"></div>

                  </div>
                </div>

                <div class="swiper-slide ncard ncard--black">
                  <div class="ncard__content">
                    <div class="ncheck">
                      Интеграция с 1С
                    </div>
                    <div class="ncheck">
                      Интеграция СберМаркет
                    </div>
                    <div class="ncheck">
                      Интеграция с UDS
                    </div>
                    <div class="ncheck">
                      Приложение для КСО*
                    </div>
                    <div class="ncheck">
                      Курьер СберМаркет
                    </div>
                    <div class="ncheck">
                      Синхронный режим*
                    </div>
                    <div class="ncheck">
                      Маршруты и пробег водит.
                    </div>
                    <div class="ncheck">
                      Интеграция с Revvy
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    @@include("./template/footer.html")
  </div>
  @@include("./template/scripts.html")
</body>

</html>