<!DOCTYPE html>
<html lang="ru">

<head>
  @@include("./template/head.html")
  <title>Тарифы</title>
</head>

<body class="page page--text">
  <div class="container-layout">
    @@include("./template/header.html")
    <div class="wrapper">
      <div class="container">
        <h1 class="page-header">
          Тарифы
          <span class="date">1 июня 2024</span>
        </h1>

        <div class="blogContainer">
          <div class="blogContainer__content">
            <div class="text-block">
              <h2>Тарифы</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    @@include("./template/footer.html")
  </div>
  @@include("./template/scripts.html")
</body>

</html>